.form {
    display: block;
    width: 80%;
    margin: 17.5vh auto;
}


.form button {
    background-color: rgba(1,180,228,1);
    color: #fff;
    padding: 10px 20px;
    border: none;
    outline: none;
    border-radius: 5px;
}

.form button:hover {
    background-color: rgb(140, 230, 255);
}