.bg {
    width: 100%;
    background-position: 0 0;
    background: linear-gradient(to top,#30172a 0%,rgba(3,37,65,1) 70%);
    height: 220px;
}

.bgUser {
    background-image: url(https://www.themoviedb.org/assets/2/v4/account_pipes/red-b64316df5633aa0687196d10fa429418035b55122c0b5726082669b9748a0e2a.svg);
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center -150px;
    padding: 0;
    background-size: cover;
    height: 220px;
    color: #fff;
    display: flex;
    align-items: center;
}