.bg {
    width: 100%;
    background-position: 0 0;
    background: linear-gradient(to top,#30172a 0%,rgba(3,37,65,1) 70%);
    height: 220px;
}

.bgUser {
    background-image: url(https://www.themoviedb.org/assets/2/v4/account_pipes/red-b64316df5633aa0687196d10fa429418035b55122c0b5726082669b9748a0e2a.svg);
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center -150px;
    padding: 0;
    background-size: cover;
    height: 220px;
    color: #fff;
    display: flex;
    align-items: center;
}

.userLogo {
    padding: 35px 57px;
    border-radius: 50%;
    background-color: rgba(212,2,66,1);
    font-size: xxx-large;
    margin-left: 60px;
    margin-right: 40px;
}

.user {
    display: flex;
    justify-content: center;
    align-items: center;
}

.userWatchListHeadings {
    max-width: 90%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    box-shadow: unset;
    border: none;
    margin-left: 0;
    border: 1px solid rgba(3,37,65,1);
    border-radius: 20px;
    width: fit-content;
}

.buttons button {
    margin: 0;
    border: none;
    padding: 5px 20px;
    background-color: #fff;
    border-radius: 20px;
    color: rgba(3,37,65,1);
    cursor: pointer;
}

.buttons button h4 {
    margin: 0;
    font-size: medium;
}

.selected {
    background-color: rgba(3,37,65,1) !important;
}

.selected h4 {
    background: linear-gradient(to right,#c0fecf 0,#1ed5a9 100%);
    background-clip: linear-gradient(to right,#c0fecf 0,#1ed5a9 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.userWatchList {
    width: 100%;
}

.userWatchList div {
    display: flex;
    cursor: pointer;
    justify-content: center;
    margin: 20px auto;
    box-shadow: 0 2px 8px rgba(0,0,0,.1);
    border-radius: 10px;
    border: 1px solid rgba(227,227,227,1);
    background-color: #fff;
}

.userWatchList div img {
    width: 110px;
    margin-right: 10px;
    min-height: 150px;
    border-radius: 10px 0 0 10px;
}

.userWatchList h5  {
    align-self: center;
    justify-self: center;
    text-align: center;
    margin: 70px auto;
}

.contents {
    display: flex;
    flex-direction: column !important;
    box-shadow: none !important;
    border: none !important;
    width: 100% !important;
}

.contents h3, h4 {
    margin: 0;
}

.contents h4 {
    color: #999;
    font-weight: normal;
}

.contents p {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
    margin: 0;
    margin-top: 20px;
    margin-right: 20px;
}

.deleteDiv {
    box-shadow: none !important;
    width: fit-content !important;
    border: none !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    padding: 20px 30px 20px 0 !important;
}